# ============================================
# Application
# ============================================
APP_NAME=BigData Smart Transportation Platform
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=true


# ============================================
# PostgreSQL
# ============================================
POSTGRES_DB=smart_transportation
POSTGRES_USER=bigdata
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432


# ============================================
# MongoDB
# ============================================
MONGO_DB=smart_transportation
MONGO_PORT=27017


# ============================================
# Redis
# ============================================
REDIS_PORT=6379